<div class="article-social">
  <div class="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ SITEURL }}/{{ article.url|replace(" ", "%20") }}"></a>
  </div>
  <div class="social">
    <div class="g-plusone" data-size="medium" data-href="{{ SITEURL }}/{{ article.url|replace(" ", "%20") }}"></div>
  </div>
  <div class="social">
    <div class="fb-like" data-send="true" data-layout="button_count" data-href="{{ SITEURL }}/{{ article.url|replace(" ", "%20") }}"></div>
  </div>
  <div class="post-social"></div>
</div>

{# vim: filetype=jinja sw=2 sts=2 :
#}
