<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta property="fb:app_id" content="346427288776988">
    <title>{% block page_title %}{{ SITENAME }}{% endblock %}</title>

    <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.png" type="image/png">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Crimson+Text:400,600,600italic|Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css">

    {% if FEED %}
      <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="Atom feed">
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="RSS feed">
    {% endif %}

    <!--[if lt IE 9]>
      <script src="{{ SITEURL }}/theme/css/html5shiv.js"></script>
    <![endif]-->

    <!-- Google+ -->
    <script type="text/javascript">
      window.___gcfg = {
        lang: 'en-GB'
      };
    </script>

    <script async="async" src="https://apis.google.com/js/plusone.js"></script>
    <!-- End of Google+ -->
    <!-- Facebook -->
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId: "346427288776988",
          xfbml: true
        });
      }
    </script>

    <script async="async" src="https://connect.facebook.net/en_GB/all.js"></script>
    <!-- End of Facebook -->
    <!-- Twitter -->
    <script async="async" src="https://platform.twitter.com/widgets.js"></script>
    <!-- End of Twitter -->

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- Facebook SDK will put stuff in here. -->
    <div id="fb-root"></div>

    <header>
      <h1 id="banner"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
      <nav>
        <!-- Use comments, so there are no white space characters between
        entries.
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            --><a {% if p == page %}class="active"{% endif %} href="{{ SITEURL }}/pages/{{ p.url|replace(" ", "%20") }}">{{ p.title }}</a><!--
          {% endfor %}
        {% endif %}
        {% for c, _ in categories %}
          Make category active only on category pages, not individual article pages.
          --><a {% if c == category and not article %}class="active"{% endif %} href="{{ SITEURL }}/category/{{ c|replace(" ", "%20") }}.html">{{ c.title() }}</a><!--
        {% endfor %}
        -->
      </nav>
    </header>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <hr/>
      Copyright © 2012 Marek Sapota</br>
      Except where otherwise noted, all content on this website is licensed
      under the<br/>
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
    </footer>
  </body>
</html>

{# vim: filetype=jinja sw=2 sts=2 :
#}
