@import "common";

blockquote {
    font-size: 0.9em;
}

.title-block {
    float: right;
    font-weight: 400;
}

article {
    clear: both;

    .title {
        margin-bottom: 0;
        a {
            color: black;
            text-decoration: none;
        }
    }

    .info {
        float: right;
        font-size: 0.8em;
        margin-bottom: 1em;
        margin-top: 1em;
        border-left: 0.1em solid black;
        margin-left: 0.5em;
        padding-left: 0.5em;
        max-width: 20em;
    }

    .content {
        margin-top: 1em;
    }

    .summary {
        margin-left: 1em;
        margin-top: 1em;

        .readmore {
            font-size: 0.8em;
        }
    }
}

.article-social {
    height: 24px;
}

.social {
    float: left;
}

.post-social {
    clear: left;
}

/* Move content or summary below info on small screens. */
@media (max-width: 50em) {
    article {
        .summary, .content {
            clear: both;
        }
    }
}

/* Code blocks styling. */

.codehilite {
    font-size: 0.8em;
    margin: 0.5em 0 0.5em 2em;
    font-family: Droid Sans Mono, monospace;
    padding: 0.5em;

    pre {
        margin: 0;
        overflow-x: auto;
    }
}

code {
    background-color: #f8f8f8;
}

@import "pygments";
