@import "common";

blockquote {
    font-size: 0.9em;
}

.title-block {
    float: right;
}

article {
    clear: both;

    .title {
        margin-bottom: 0;
        a {
            color: black;
            text-decoration: none;
            font-family: Crimson Text, serif;
            font-weight: 600;
            font-size: 1.2em;
        }
    }

    .info {
        float: right;
        font-size: 0.8em;
        margin-bottom: 1em;
        border-left: 0.1em solid black;
        margin-left: 0.5em;
        padding-left: 0.5em;
        max-width: 20em;
    }

    .summary {
        margin-left: 1em;

        .readmore {
            font-size: 0.8em;
        }
    }
}

.article-social {
    height: 24px;
}

.social {
    float: left;
}

.post-social {
    clear: left;
}

/* Move content or summary below info on small screens. */
@media (max-width: 50em) {
    article {
        .summary, .content {
            clear: both;
        }
    }
}

/* Code blocks styling. */

.codehilite {
    font-size: 0.8em;
    margin-left: 2em;
}

@import "pygments";
